h4{
    font-size: 16px;
}

h3{
    font-size: 22px;
}


.spn_title{
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    display: block;
}

.spn_value{
    margin-top: 8px;
    
    font-size: 14px;
    color: #686666;
    display: block;
}

.spn_status{
    margin-top: 8px;    
    font-size: 14px;
    color: green;
    display: block;
}

.preferencesPanel {
    border: 1px solid red;
   
}

// td{
//     justify-content:left;
// }